* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

/* 1️⃣ NAVIGATION BAR */
.navtag {
    display: flex;
    background-color: white;
    width: 100%;
}

nav a:hover {
    cursor: pointer;
}

img {
    height: 12vh;
    padding: 30px 100px 0px 200px;
    background-position: center;
    background-size: cover;
}

.right {
    text-align: center;
    justify-content: center;
    padding: 25px 0px 0px 50px;
}

.right a {
    text-decoration: none;
    color: white;
}

.right ul li {
    display: inline-block;
    padding: 20px;
    position: relative;
}

.right ul li::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #009688;
    margin: auto;
    transition: 0.2s linear;
}

.right ul li:hover::after {
    width: 100%;
}

.background {
    min-height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.75), rgba(4, 9, 30, 0.75)), url(../images/IMG_3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* 2️⃣ ABOUT US */
.aboutus {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.aboutus h1 {
    font-size: 36px;
}

.aboutus p {
    padding: 20px 300px 0px 300px;
    color: #777;
    text-align: left;
}

/* 3️⃣ FOOTER */
.footer {
    padding: 30px 0px 0px 0px;
    text-align: center;
}

.footer p {
    color: #777;
    padding: 20px;
    font-size: 14px;
}

.icon .fa {
    padding: 13px;
}